
header{
    background:url(../img/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: 160vh;
    padding-top: 20px;
}
.bg-nav-patikat{
    background: purple !important;

}
.bg-nav-patikat ul li a.nav-link{
    color: wheat;
    font-size: 24px;
}
.bg-nav-patikat ul li a.nav-link:hover{
    border-bottom: 2px solid rgb(1, 1, 1);
  
}
#hero{
    text-align: center;
    margin-top: 200px;
   
}
#hero .logo{
    border: none;
    border-radius: 60px;
    background-color: rgba(128, 0, 128, 0.463);
    margin: 0px 39%;
}

#hero h2{
    font-size: 50px;
    color: wheat;
    margin-bottom: 0;
}
#hero h1{
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
}
.boton{
    background-color:purple;
    color:wheat;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 10px;
    font-weight: 700;
    border-color: transparent;

}
/* estilos de la seccion Servicios */
#Servicios{
    width: 100%;
    background-color: wheat;
    text-align: center;
    font-size: 25px;
    
}
#Servicios h2 {
    border: 1 solid transparent;
    background-color: rgba(128, 0, 128, 0.463);
    margin: 0px 37%;
    border-radius: 25px 0px;
}
#Servicios .row h3{
    border: 1 solid transparent;
    background-color: rgba(128, 0, 128, 0.463);
    border-radius: 25px 0px;
}
#Servicio.contenedor h2 , h3{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 700;
}
#Servicios img{
    border-radius: 25px 0px;
}
/* estilo de la seccion Medicina */
#Medicina{
    color: rgb(0, 0, 0);
    width: 100%;
    background:purple;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}
#Medicina .row h3{
    border: 1 solid transparent;
    background-color: rgba(245, 222, 179, 0.968);
    border-radius: 25px 0px;
}
#Medicina img{
    border-radius: 10px;
}
/* estilos de productos */
#Productos{
        width: 100%;
        background-color: wheat;
        padding-top: 150px;
        text-align: center;
        padding-bottom: 50px;
    }
#Productos h2{
        border: 1 solid transparent;
        background-color: rgba(128, 0, 128, 0.463);
        margin: 0px 37%;
        border-radius: 25px 0px;
    
        
    }
#Productos img{
        border-radius: 50%;
}
#Productos .row h3{
    border: 1 solid transparent;
    background-color: rgba(128, 0, 128, 0.463);
    border-radius: 25px 0px;
}

/* estilos de adopcion */
#adopcion{
    font-weight: 900;
    font-size: 25px;
    width: 100%;
    background-color: purple;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}
#adopcion h2, p{
    border: 1 solid transparent;
    background-color: rgba(245, 222, 179, 0.968);
    margin: 0px 37%;
    border-radius: 25px 0px;

    
}
#adopcion img {
    margin: 50px 0px; 
    border-radius: 15% 95% 90% 90%;
   
  }

#adopcion .row h3{
    border: 1 solid transparent;
    background-color: rgba(245, 222, 179, 0.968);
    border-radius: 25px 0px;
}






/* estilo seccion contactos */

#Contacto{
    background: wheat;
    width: 100%;
    text-align: center;
    padding: 150px 0px;
}
#Contacto h2{
    font-weight: 700px;
    margin-bottom: 40px;
    font-size: 40px;
    color: purple;
    
}
#Contacto p {
    font-size: 20px ;
    padding: 20px 20px 40px;
    color: purple;
}
#Contacto form{

    max-width: 700px;
    margin: auto;
}
#Contacto form input,#contacto form select,#ciudad{
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid #999;

}

 
 
 #Contacto form button{
    padding: 12px 40px;
    font-size: 18px;
    background-color:purple ;
    color: wheat;
    
}


/* estilo seccion pie */
footer{
    background-color: purple;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: purple;
}

/* tranciciones */
#hero{
    transition: 5s;
}

#hero img:hover{
    transform: rotate(45deg);
}
.nav img:hover{
     transform: scale(1.1);
}
button:hover{
    box-shadow: 4px 4px 0 1px black;
}
#Servicios img:hover{
    transform: scale(0.9);
}
#Medicina img:hover{
    transform: scale(0.9);
}
#Productos img:hover{
    transform: scale(0.9);
}
#adopcion img:hover{
    transform: scale(1.1);
}